.header {
  background: image-url('header-img.webp');
  height: calc(100vh - 57px);
  width: 100vw;

  .header-title {
    font-size: 36px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px 40px;
  }
}

.instrument-show {
  .feature-image img {
    width: 100%;
  }

  .add-to-cart {
    width: 100%;
  }
}

.featured-clothing {
  .featured-clothing-text {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.1;
  }

  .featured-clothing-item {
    .featured-clothing-item-img {
      img {
        width: 100%;
      }
    }

    .featured-clothing-item-title {
      margin: 16px 0 12px;
      a {
        text-decoration: none;
        color: #000;
        font-size: 14px;
        font-weight: 500;
      }
    }

    .featured-clothing-item-price {
      font-size: 16px;
      font-weight: 400;
    }
  }
}

.category-grid {
  padding-bottom: 70px;
  padding-top: 120px;

  .category {
    width: 525px !important;
    padding: 0;

    img {
      height: 428px;
      width: 100%;
      object-fit: cover;
    }

    .category-title {
      margin-bottom: 85px;
      margin-left: 30px;
      line-height: 1.1;
      font-size: 25px;
      font-weight: 700;
    }

    .category-btn {
      margin-bottom: 20px;
      margin-left: 30px;
      color: white !important;
    }
  }
}

.container {
  width: 60% !important;
}

.featured-accessories {
  height: 900px;
  background-color: #FAFBFC;
  
  .featured-accessories-text {
    margin-bottom: 60px;
    padding-top: 60px;
  }

  .featured-accessories-item {
    width: 384px;

    .featured-accessories-img {
      img {
        width: 100%;
      }
    }
  
    .featured-accessories-title {
      margin: 16px 0 12px;
        a {
          text-decoration: none;
          color: #000;
          font-size: 14px;
          font-weight: 500;
        }
    }
  
    .featured-accessories-price {
      font-size: 16px;
      font-weight: 400;
    }
  }
}
  
.reusable-bottles {
  position: relative;
  height: 420px;
  background: image-url('bottle.jpg');
  background-position: center;

  .reusable-bottles-group-text {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    h1 {
      font-weight: 700;
      line-height: 1.1;
      font-size: 40px;
      margin-bottom: 16px;
    }
    
    p {
      font-weight: 100;
      line-height: 1.6;
      font-size: 15px;
    }
  }

  .reusable-bottles-btn {
    margin-top: 60px;
  }
}

.we-are-minimalist {
  margin-top: 100px;
  height: auto;

  .we-are-minimalist-img {
    img {
      height: auto;
      width: 100%;
    }
  }

  .we-are-minimalist-text {
    h1 {
      font-weight: bold;
      font-size: 35px;
      margin-bottom: 15px;
    }

    p {
      font-weight: 100;
      line-height: 1.6;
      font-size: 15px;
    }
  }
}



.more-instruments {
  margin-top: 100px;
  .more-instruments-item {
    .more-instruments-img {
      img {
        width: 100%;
      }
    }

    .more-instruments-title {
      margin: 16px 0 12px;
        a {
          text-decoration: none;
          color: #000;
          font-size: 14px;
          font-weight: 500;
        }
    }

    .more-instruments-price {
      font-size: 16px;
      font-weight: 400;
    }
  }
}

.footer {
  margin-top: 80px;
  height: 300px;
  background-color: #FAFBFC;
}

.footer-link {
  color: black !important;
  text-decoration: none;
  margin-right: 15px;
}

.footer-link:hover {
  background-color: transparent;
  color: grey !important;
}

.powered {
  padding-top: 20px;
  border-top: 1px solid lightgrey;
}

.powered-by {
  color: grey;
}

.flanger {
  margin-bottom: 1px;
}

.footer-brand {
  color: black !important;
  text-decoration: none;
}

.footer-brand:hover {
  background-color: transparent;
}
