.instrument-show {
  .feature-image img {
    width: 100%;
  }
  .add-to-cart {
    width: 100%;
  }
}

.header-img {
  background: image-url('header-img.webp');
  height: 800px;
  width: 100%;
  background-position: center;
}

.cate1, .cate2, .cate3, .cate4 {
  img {
    height: 400px;
    width: 100%;
  }
}

.cate-text {
  margin-bottom: 80px;
  margin-left: 30px;
}

.cate-btn {
  margin-bottom: 20px;
  margin-left: 30px;
  color: white !important;
}

.container {
  width: 60% !important;
}

.random-img {
  img {
    width: 100%;
  }
}

.random-img-title {
  text-decoration: none;
}

.random-img-title:hover {
  background-color: transparent;
}

.section-4 {
  height: 1000px;
  background-color: #FAFBFC;
}

.section-5 {
  height: 420px;
  background: image-url('bottle.jpg');
  background-position: center
}

.group-text {
  margin-top: 120px;
}

.section-5-btn {
  border: none !important;
  color: white !important;
}

.section-5-btn:hover {
  background-color: white !important;
  color: black !important;
}

.header-btn {
  border: none !important;
  color: white !important;
}

.header-btn:hover {
  background-color: white !important;
  color: black !important;
}

.section-6-img {
  background: image-url('audience.jpg');
  height: auto;
  width: 100%;
}

.section-6 {
  margin-top: 100px;
  height: auto;
}